body {
    padding: 0;
    margin: auto; 
}


nav {
    display: flex;
    justify-content: center; 
}

table {
    position: relative;
    text-align: left;
    margin: 1em auto;
    padding: 30px;
    max-height: 750px;
    background-color: #F8F8FF;
 
}

form{
    display: flex;
    justify-content: center; 
    
}

fieldset {
    margin: 1em auto;
    padding: 30px;
    max-height: 750px;
    background-color: #F8F8FF;
    border: none;
}


ul {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}